*{
    padding: 0px;
    margin: 0px;
  }
body {
background-color: rgb(48, 47, 47);

}
.footer{
position: sticky;
width: 100%;
}
.navbar {
width: 100%;           
}
.p-5 {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
object-fit: cover;
background-position-y: -20px 0px;
padding-top: 0px;
margin-top: 0px;
margin-bottom: 20px;
}
.mb-3 {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
  height: 150px;
  width: auto;
}
.nav-item:hover {
  display: inline-block;
  position: relative;
  color: #64c374;
}
.nav-item:hover::after {
  content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0;
left: 0;
background-color: #64c374;
border-radius: 5px;

}
.img-thumbnail {
height: 200px; 
}
.informatiePadding {
    padding-bottom: 100px;
}
.accordion-item{
    background-color: rgb(187, 187, 187);
}
.accordion-icon-color {
    color: white;
}
.informatiePadding2 {
    margin-bottom: 75px;
}
.carousel {
width: 600px;
}

.carousel-item {
    height: 200px;
}
.card {
  background-color: rgb(187,187,187);
  height: 362px;
}
.aanvullendeinfo {
    margin-left: 20px;
    margin-bottom: 75px;
}
.img-fluid {
    max-width: 100%;
  height: auto;
}
.card-body{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.modal-dialog {
    width: 100%;
    
}
@media screen and (max-width: 600px) {
    .col {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .col-md-4 {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .col-md-6 {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .col-md-2 {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .col-6{
      width: 100%;
    }
  }
  @media screen and (max-width: 405px) {
    .modal-dialog{
      width: 100%;
    }
  }
  @media screen and (max-width: 405px) {
    .modal{
      width: 100%;
    }
  }
 