*{
    padding: 0px;
    margin: 0px;
  }
body {
    background-color: rgb(48, 47, 47);
    padding-left: 20px;
    padding-right: 20px;
    }
.p-5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -100px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
.footer{
    position: sticky;
   width: 100%;
    }
.navbar {
    margin-left: -30px;
    margin-right: -20px;
        
    }
.mb-3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
#foto_02 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -100px;
    width: 300px;
    height: 400px;
}
#foto_03 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -100px;
    width: 300px;
    height: 400px;
}
#foto_04 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
#foto_05 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
#foto_06 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
#foto_07 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
.carousel {
    width: 600px;
    }
.col {
    margin-bottom : 75px
}
.list-group-item {
    background-color: rgb(187, 187, 187);
}
@media screen and (min-width: 780px) {
    .body {
    margin: auto;
    width: 90%;
    }}