*{
    padding: 0px;
    margin: 0px;
  }
body {
    background-color: rgb(48, 47, 47);
    
    }
.p-5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -100px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    }
.footer{
    position: sticky;
   width: 100%;
    }
.navbar {
    width: 100%;
        
    }
.mb-3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
#foto_02 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -100px;
    width: 33.33%;
    height: 400px;
}
#foto_03 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -100px;
    width: 300px;
    height: 400px;
}
#foto_04 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
#foto_05 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
#foto_06 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
#foto_07 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        
    object-fit: cover;
    background-position-y: -80px;
    width: 300px;
    height: 400px;
}
.list-group {
width: 100%;
}
.carousel {
    width: 100%;
    }
.col {
    margin-bottom : 75px
}
.list-group-item {
    background-color: rgb(187, 187, 187);
}
@media screen and (max-width: 600px) {
    .col {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    .navbar {
      width: 100%;
    }
  }
  